.bg-img {
    padding : 1px;
    height: 100%;
    width: 100%;
    //background-color: red;
    background-image: url('../../assets/login_bg.png');
    //background-repeat: repeat-y;
    background-size: cover;
  }

