<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form class="ion-align-items-center" #f="ngForm" (submit)="register(f.value)">
    <ion-item lines="full">
      <ion-label position="floating">Email</ion-label>
      <ion-input ngModel name="email" email required></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Password</ion-label>
      <ion-input ngModel name="password" type="password" required></ion-input>
    </ion-item>

    <ion-row>
      <ion-col>
        <ion-button type="submit" color="success" expand="block">Register</ion-button>
      </ion-col>
    </ion-row>
   
  </form>
  <ion-row>
    <ion-col>
      <ion-button (click)="goToLogin()" type="submit" color="danger" expand="block">Back to Sig in</ion-button>
    </ion-col>
  </ion-row>
</ion-content>